button {
    border-radius: 4px;
    border: none;
    min-height: 24px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.25;
    font-size: 1rem;
    margin-block: calc(0.25 * var(--spacing-unit));
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-top: calc(0.5 * var(--spacing-unit));
    padding-bottom: calc(0.5 * var(--spacing-unit));
    padding-left: var(--spacing-unit);
    padding-right: var(--spacing-unit);

    --cta-main-bg-color: var(--azure);
    --cta-main-bg-hover: var(--rose);
}

button.cta-main {
    background: linear-gradient(
      to right,
      var(--cta-main-bg-color) 50%,
      var(--cta-main-bg-hover) 50%,
      var(--cta-main-bg-hover) 100%
    );
    background-size: 200% 100%;
    transition: background-position var(--time-transition-enter-short) var(--time-easing-base);
}
  
button.cta-main:hover {
    background-position: -100% 0;
}
  
button.cta-main.rounded {
    border-radius: 30px;
}

button.cta-secondary {
    background-color: transparent;
    border: 2px solid var(--cta-main-bg-color);
    color: var(--cta-main-bg-color);
    transition: all 300ms;
}

button.cta-secondary:hover {
    background-color: transparent;
    border: 2px solid var(--cta-main-bg-hover);
    color: var(--cta-main-bg-hover);
    transition: all 300ms;
}
  
button.cta-secondary.rounded {
    border-radius: 30px;
}