div.splash-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: calc(2 * var(--spacing-unit));
    margin-bottom: calc(3 * var(--spacing-unit));

    --splash-text-item-max-width: 800px;

    h1 {
        max-width: var(--splash-text-item-max-width);
    }

    span#splash-content-phonemes {
        font-family: "Noto Sans", sans-serif;
        font-size: 2rem;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
        font-variation-settings:
            "wdth" 100;
        margin-left: calc(2 * var(--spacing-unit));
    }

    p {
        margin-left: calc(2 * var(--spacing-unit));
        max-width: var(--splash-text-item-max-width);
        font-size: 24px;
    }

    div.splash-text-cta-container {
        margin-left: calc(2 * var(--spacing-unit));
        margin-top: var(--spacing-unit);
        display: flex;
        flex-direction: row;
        gap: var(--spacing-unit);
    }
}

div.splash-image-container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: calc(2 * var(--spacing-unit));
    margin: 0;
    
    /* background-image: linear-gradient(135deg, var(--pure-black) 50%, var(--pure-black) 60%, var(--blue-violet) 60.1%, var(--blue-violet) 100%); */
}

div.splash-image-card {
    min-height: 400px;
    max-height: 400px;
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    background-color: var(--pure-white);
    overflow: hidden;
    background-image: linear-gradient(to right, var(--rose), var(--azure));
    padding: var(--spacing-unit);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        image-rendering: optimizeQuality;
        image-orientation: from-image;
        border-radius: 2px;
        aspect-ratio: 6 / 4;
    }
}
