main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    --internal-content-max-width: 800px;
}

div.blog-image-container {
    max-width: var(--internal-content-max-width);
    width: 100%;
    height: 300px;

    margin-top: calc(3 * var(--spacing-unit));
    border-radius: 4px;
    overflow: hidden;
}

img.blog-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
    image-orientation: from-image;
    object-position: center;
}

div.blog-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--internal-content-max-width);
    margin-top: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);

    span.blog-info-item {
        font-size: 20px;
        font-family: "Fira Sans Condensed", system-ui;
    }
}

div.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: var(--internal-content-max-width);
    width: 100%;
    height: fit-content;
    margin-top: calc(2 * var(--spacing-unit));
}