main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    --internal-content-max-width: 800px;
    --factor: 1;
}

div.blog-image-container {
    max-width: var(--internal-content-max-width);
    width: 100%;
    height: 300px;

    margin-top: calc(3 * var(--spacing-unit));
    border-radius: 4px;
    overflow: hidden;
}

img.blog-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
    image-orientation: from-image;
    object-position: center;
}

div.blog-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: var(--internal-content-max-width);
    margin-top: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);

    span.blog-info-item {
        font-size: 20px;
        font-family: "Fira Sans Condensed", system-ui;
    }
}

div.post-root-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: var(--internal-content-max-width);
    width: 100%;
    height: fit-content;
}

div.post-title-container {
    margin-top: calc(4 * var(--spacing-unit));

    h1 {
      font-size: calc(clamp(3.4rem, 1.36vw + 2.85rem, 5.4rem) * var(--factor, 1));
    }
}

div.post-author-avatar-container {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        image-rendering: optimizeQuality;
        image-orientation: from-image;
    }
}

div.post-author-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    div.post-author-text-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: flex-start;

        b {
            font-family: 'Fira Sans Condensed', system-ui;
            font-weight: 700;
            font-size: 20px;
            background: linear-gradient(to right, var(--amber), var(--orange-pantone), var(--rose), var(--blue-violet));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        span {
            font-family: 'Fira Sans Condensed', system-ui;
            font-weight: 500;
            font-size: 16px;
            color: #f8f8f8;
            margin-top: 8px;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            i {
                font-size: 14px;
                margin-left: 16px;
            }
        }
    }
}

div.post-image-container {
    margin-top: calc(2*var(--spacing-unit));
    overflow: hidden;
    border-radius: 6px;

    img {
        object-fit: cover;
        object-position: center;
        image-rendering: optimizeQuality;
        image-orientation: from-image;
    }
}

.post-markdown-content-root {
    position: relative;
    margin-top: calc(4 * var(--spacing-unit));

    p {
        font-size: 20px;
        line-height: 1.45;
        letter-spacing: normal;
        font-weight: 400;
        margin-block: 4px;
    }
}

ol.post-toc {
    font-family: 'Fira Sans Condensed', system-ui;
    font-weight: 500;
    font-size: 16px;
    position: fixed;
    right: 76px;
    top: 200px;
    z-index: 3;
    width: fit-content;
    display: flex;
}