:root {
  --font-line-height-body: 1.15;
  --font-line-height-heading: 1.25;
}

.fira-sans-condensed-thin {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-condensed-thin-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-condensed-extralight {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-condensed-extralight-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-condensed-light {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-condensed-light-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-condensed-regular {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-condensed-regular-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-condensed-medium {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-condensed-medium-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-condensed-semibold {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-condensed-semibold-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-condensed-bold {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-condensed-bold-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-condensed-extrabold {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-condensed-extrabold-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-condensed-black {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-condensed-black-italic {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: var(--font-line-height-heading);
  font-size: 4rem;
}

h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: var(--font-line-height-heading);
  font-size: 3rem;
}

h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: var(--font-line-height-heading);
  font-size: 2rem;
}

h4 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: var(--font-line-height-heading);
  font-size: 1.5rem;
}

h5 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: var(--font-line-height-heading);
  font-size: 1rem;
}

h6 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--font-line-height-heading);
  font-size: 1rem;
}

h1, h2, h3 {
  margin-block: calc(0.5 * var(--spacing-unit));
}

h4, h5, h6 {
  margin-block: calc(0.25 * var(--spacing-unit));
}

p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--font-line-height-body);
  font-size: 1rem;
  margin-block: calc(0.25 * var(--spacing-unit));
}