* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    background-color: var(--pure-black);
    color: var(--pure-white);

    scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

header {
    height: 62px;
    width: 100%;
    padding: var(--spacing-unit);
    position: fixed;
    top: 0;
    z-index: 2;
    isolation: isolate;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--spacing-unit) * 1.5);
    background-color: var(--pure-black);
    overflow: hidden;

    a.blog-header-item-main {
        font-size: 24px;
        background: linear-gradient(to right, var(--amber), var(--orange-pantone), var(--rose), var(--blue-violet));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a#da-header-lottie-animation-container {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        justify-self: flex-start;
        align-items: center;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

    a.blog-header-item {
        font-size: 16px;
        line-height: 1.15;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--pure-white);
        text-underline-offset: 3px;

        span {
            height: 100%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: var(--spacing-unit);
        }
    }
}

main {
    height: 100%;
    min-height: calc(100vh - 62px);
    margin-top: 62px;
    width: 100%;
    max-width: 912px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ml-auto {
    margin-left: auto;
}