:root {
    --spacing-unit: 16px;
    --font-size-unit: 1rem;

    --time-transition-enter-short: 0.3s;
    --time-transition-enter-medium: 0.6s;
    --time-transition-enter-long: 1s;
    --time-transition-exit-short: 0.3s;
    --time-transition-exit-medium: 0.6s;
    --time-transition-exit-long: 1s;
    --time-easing-base: ease;

    --pure-black: #000000;
    --pure-white: #ffffff;

    --amber: #ffbe0bff;
    --orange-pantone: #fb5607ff;
    --rose: #ff006eff;
    --blue-violet: #8338ecff;
    --azure: #3a86ffff;

    --desktop-bp-lower-bound: 1024px;
    --tablet-bp-lower-bound: 600px;
    --mobile-bp-lower-bound: 320px;
}