div.splash-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: calc(2 * var(--spacing-unit));
  margin-bottom: calc(3 * var(--spacing-unit));
  position: relative;

  --splash-text-item-max-width: 800px;

  h1 {
    max-width: var(--splash-text-item-max-width);
  }

  span#splash-content-phonemes {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings: 'wdth' 100;
    margin-left: calc(2 * var(--spacing-unit));
  }

  p {
    margin-left: calc(2 * var(--spacing-unit));
    max-width: var(--splash-text-item-max-width);
    font-size: 24px;
  }

  div.splash-text-cta-container {
    margin-left: calc(2 * var(--spacing-unit));
    margin-top: var(--spacing-unit);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-unit);
  }
}

div.splash-image-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: calc(2 * var(--spacing-unit));
  margin: 0;

  /* background-image: linear-gradient(135deg, var(--pure-black) 50%, var(--pure-black) 60%, var(--blue-violet) 60.1%, var(--blue-violet) 100%); */
}

div.splash-image-card {
  min-height: 400px;
  max-height: 400px;
  width: 600px;
  min-width: 600px;
  max-width: 600px;
  background-color: var(--pure-white);
  overflow: hidden;
  padding: var(--spacing-unit);
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: optimizeQuality;
    image-orientation: from-image;
    border-radius: 2px;
    aspect-ratio: 6 / 4;
  }
}

div.splash-animation-wrapper {
  --height: calc(100vh - 62px);
  min-height: var(--height);
  height: var(--height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  --defacto-anim-height: 720px;
  --defacto-anim-width: 1280px;

  div#splash-animation-root {
    overflow: hidden;
    height: calc(var(--defacto-anim-height) * 0.125);
    max-height: calc(var(--defacto-anim-height) * 0.125);
    min-height: calc(var(--defacto-anim-width) * 0.125);
    width: calc(var(--defacto-anim-width) * 0.25);
    max-width: calc(var(--defacto-anim-width) * 0.25);
    min-width: calc(var(--defacto-anim-width) * 0.25);
    aspect-ratio: var(--defacto-anim-width) / var(--defacto-anim-height);
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  svg.splash-animation-lottie-vector {
    max-height: calc(var(--defacto-anim-height) * 0.5);
    min-height: calc(var(--defacto-anim-width) * 0.5);
    max-width: calc(var(--defacto-anim-width) * 0.5);
    min-width: calc(var(--defacto-anim-width) * 0.5);
    aspect-ratio: var(--defacto-anim-width) / var(--defacto-anim-height);
  }

  p.splash-animation-text {
    animation-name: splash-animation-rise-into-focus;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-delay: 2.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
  }
}

div.splash-animation-more-content {
  margin-top: 64px;
  opacity: 0;
  animation-name: splash-animation-rise-into-focus;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

  svg#splash-animation-down-arrow {
    animation-name: splash-animation-more-content-wave;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes splash-animation-rise-into-focus {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes splash-animation-more-content-wave {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mellow-yellow-text-gradient {
  background: linear-gradient(to right, var(--amber), var(--rose));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.splash-content-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

button.splash-cta {
  min-width: 220px;
  min-height: 56px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--azure);
  color: white;
  fill: white;
  font-weight: 700;

  background: linear-gradient(to right, var(--blue-violet) 50%, #5f5ff6 50%, #5f5ff6 100%);

  background-size: 200% 100%;
  transition: background-position 300ms ease-in;
}

button.splash-cta:hover {
  background-position: -100% 0;
  cursor: pointer;
}
